<h2> Edit: <%= @figure.name %></h2>

<form action="/figures/<%= @figure.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

<label>Name: </label>
<input id="figure_name" type="text" name="figure[name]" value="<%= @figure.name %>">

<p>Titles</p>
<% @titles.each do |t| %>
  <input type="checkbox" id="title_<%= t.id %>" name="figure[title_ids][]" value="<%= t.id %>" <%='checked' if @figure.t.include?(t) %>><%= t.name %></input><br>
<% end %><br>

<p>Landmarks</p>
<% @landmarks.each do |l| %>
  <input type="checkbox" id="landmark_<%= l.id %>" name="figure[landmark_ids][]" value="<%= l.id %>" <%='checked' if @figure.l.include?(l) %>><%= l.name %></input><br>
<% end %>

<h4>Create New Landmark</h4>
<label>Name: </label></label><input id="new_landmark" type="text" name="landmark[name]">
<label>Year: </label></label><input id="new_year" type="text" name="landmark[year]">
<br>
<br>

<input id="Save" type="submit" value="Edit Figure">

</form>